*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .5s;
}
body{
   background-color: rgb(113, 96, 96);
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.arrow{
    width: 25px;
    height: 25px;
}
.box{
    background-color: white;
    width: 350px;
    padding: 20px;
}
.tittle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sumir {
    overflow: hidden;
    height: 0px;
}
.x.active .sumir{
    height: 100px;
}
ul{
    cursor: pointer;
}
li{
    list-style: none;
    margin-bottom: 50px;
}